html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

button {
  white-space: nowrap;
  cursor: pointer;
  border: none;
}

img {
  width: 100%;
  height: auto;
}

body {
  margin: 0;
}

.container {
  width: 1140px;
  padding: 0;
  margin: 0px auto;
}

.dicuration {
  text-align: center;
  background-color: #20b2aa;
  color: white;
  padding: 20px;
}

.header {
  padding: 20px 100px;
}
.header .header__logo {
  width: 30px;
}
.header .header__content {
  display: flex;
  align-items: center;
  gap: 600px;
}
.header .header__nav {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header .header__list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header .header__link {
  color: #000;
}
.header .header__link:hover {
  color: #20b2aa;
}

@media screen and (max-width: 600px) {
  .dicuration {
    display: none;
  }
  .header {
    gap: 30px;
  }
  .header .header__link {
    display: none;
  }
}
.hero {
  padding: 50px 100px;
  background-repeat: no-repeat;
  background-position: right top;
  background-image: url("../img/hero-img.svg");
}

.hero__content {
  display: flex;
  align-items: center;
  gap: 30px;
}

.hero__title {
  color: #000;
  width: 400px;
  font-size: 46px;
  margin-bottom: 10px;
}

.hero__active {
  color: #20b2aa;
}

.hero__text {
  width: 450px;
  color: rgba(0, 0, 0, 0.6156862745);
  margin-bottom: 50px;
}

.hero__btn {
  background-color: #20b2aa;
  color: #fff;
  padding: 20px 32px;
  margin-bottom: 30px;
}

.hero__img {
  width: 100px;
}

.hero__sub-title {
  color: #000;
  display: flex;
  gap: 5px;
}

.hero__active2 {
  color: #20b2aa;
}

@media screen and (max-width: 600px) {
  .hero__content {
    flex-direction: column;
    text-align: center;
  }
  .hero__img {
    width: 50px;
  }
}
.product {
  padding: 50px 100px;
  background-repeat: no-repeat;
  background-position: right top;
  background-image: url("../img/product-img.svg");
}
.product .product__content {
  display: flex;
  align-items: center;
  gap: 50px;
}
.product .product__title {
  color: #20b2aa;
  width: 300px;
  font-size: 46px;
  margin-bottom: 20px;
}
.product .product__text {
  width: 450px;
  color: rgba(0, 0, 0, 0.6156862745);
  margin-bottom: 50px;
}
.product .product__btn {
  background-color: #20b2aa;
  color: #fff;
  padding: 20px 32px;
}

@media screen and (max-width: 600px) {
  .product__content {
    flex-direction: column;
    text-align: center;
  }
  .product__content .product__img {
    width: 500px;
  }
}
.chackout {
  padding: 100px 100px;
}
.chackout .chackout__content {
  display: flex;
  align-items: center;
  gap: 50px;
}
.chackout .chackout__title {
  color: #20b2aa;
  width: 450px;
  font-size: 46px;
  margin-bottom: 20px;
}
.chackout .chackout__text {
  width: 450px;
  color: rgba(0, 0, 0, 0.6156862745);
  margin-bottom: 50px;
}
.chackout .chackout__btn {
  background-color: #20b2aa;
  color: #fff;
  padding: 20px 32px;
}

@media screen and (max-width: 600px) {
  .chackout__content {
    flex-direction: column;
    text-align: center;
  }
  .chackout__content .chackout__img {
    width: 500px;
  }
}
.call {
  padding: 50px 100px;
  background-repeat: no-repeat;
  background-position: right top;
  background-image: url("../img/call-img.svg");
}
.call .call__content {
  display: flex;
  align-items: center;
  gap: 50px;
}
.call .call__title {
  color: #20b2aa;
  width: 450px;
  font-size: 46px;
  margin-bottom: 20px;
}
.call .call__text {
  width: 450px;
  color: rgba(0, 0, 0, 0.6156862745);
  margin-bottom: 50px;
}
.call .call__btn {
  background-color: #20b2aa;
  color: #fff;
  padding: 20px 32px;
}

@media screen and (max-width: 600px) {
  .call__content {
    flex-direction: column;
    text-align: center;
  }
}
.business {
  padding: 50px 100px;
}
.business .business__container {
  display: flex;
  align-items: center;
  gap: 15px;
}
.business .business__block {
  background-color: #20b2aa;
  padding: 125px 90px 125px 50px;
}
.business .business__title {
  color: #fff;
  width: 400px;
  font-size: 46px;
  margin-bottom: 20px;
  margin-bottom: 30px;
}
.business .business__active {
  color: darkcyan;
}
.business .business__btn {
  background-color: #fff;
  color: #20b2aa;
  padding: 20px 32px;
}

@media screen and (max-width: 600px) {
  .business__container {
    flex-direction: column;
  }
  .business__img {
    width: 550px;
  }
}
.footer {
  padding: 50px 100px;
}
.footer .footer__content {
  display: flex;
  align-items: start;
  gap: 50px;
  margin-bottom: 100px;
}
.footer .footer__block2 {
  display: flex;
  align-items: start;
  gap: 70px;
}
.footer .footer__logo {
  width: 30px;
  margin-bottom: 15px;
}
.footer .footer__item {
  margin-bottom: 15px;
}
.footer .footer__title {
  color: hsla(0, 0%, 0%, 0.595);
  width: 365px;
}
.footer .footer__sub-title {
  color: #000;
  margin-bottom: 25px;
}
.footer .footer__link {
  color: hsla(0, 0%, 0%, 0.595);
}
.footer .footer__block3 {
  display: flex;
  align-items: center;
  gap: 600px;
}
.footer .footer__icon {
  display: flex;
  align-items: center;
  gap: 30px;
}
.footer .footer__img {
  width: 20px;
}
.footer .footer__active {
  color: #20b2aa;
}

@media screen and (max-width: 600px) {
  .footer__content {
    flex-direction: column;
  }
  .footer__block2 {
    flex-direction: column;
    text-align: center;
  }
  .footer__block3 {
    flex-direction: column;
    gap: 300px;
  }
}/*# sourceMappingURL=main.css.map */