.call {
    padding: 50px 100px;

    background-repeat: no-repeat;
    background-position: right top;
    background-image: url("../img/call-img.svg");

    .call__content {
        display: flex;
        align-items: center;
        gap: 50px;
    }

    .call__title {
        color: #20b2aa;
        width: 450px;
        font-size: 46px;
        margin-bottom: 20px;
    }

    .call__text {
        width: 450px;
        color: #0000009d;
        margin-bottom: 50px;
    }

    .call__btn {
        background-color: #20b2aa;
        color: #fff;
        padding: 20px 32px;
    }
}

@media screen and (max-width: 600px) {
    .call__content {
        flex-direction: column;
        text-align: center;
    }
}